<div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">

  <h2 class="sub-header">留言查看</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>留言人</th>
          <th>联系电话</th>
          <th>邮箱</th>
          <th>时间</th>
          <th>操作1</th>
          <th>操作2</th>
        </tr>
      </thead>
      <tbody>
        <% for(i in info){ %>
        <tr data-id="<%= info[i].id %>">
          <td><%= info[i].name %></td>
          <td><%= info[i].phone %></td>
          <td><%= info[i].email %></td>
          <td><%= info[i].date %></td>
          <td><button class="btn btn-default check">查看</button></td>
          <td><button class="btn btn-default del">删除</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <div class="page-wrapper">
      <ul class="page" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
    </div>
  </div>

</div>